.TrContainer {
    border:  1px solid black;
    margin: 10px 22px;
    padding: 10px;
    font-size: 150%;
   font-weight: 800; 
   height: calc(100vh - 365px);
  overflow-x: hidden
}

.TrFlex {
    display: flex; 
    justify-content: center; 
}

.Description {
    flex: 4;
    text-align: start;
}

.DsItem:nth-child(odd) {
    background-color: #ededed;
}

.DsItem:hover {
    background-color: #c4c4c4;
}

.Amount {
    flex: 1;
    text-align: right;
}



