.App {
  text-align: center;
  background-image: url(images/background.jpg);
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
}

.Container {
  margin:auto;
  height:100vh;
  max-width: 500px;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
}
